body {
margin: 0%;
padding: 0%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(pisos.jpg) ;
}
h1 {
    font-size: 30px;
    font-family:fantasy
}
div {
    
    background-size: 100%;
    margin-top: 10px;
    margin-right: 500px;
    margin-bottom: 10px;
    margin-left: 50px;
    
}
p {
    font-size: 27px;
    color: black;

}
nav ul {
    list-style: none;
    border: none;
    display: block;
}
nav {
    padding: 15px;
    font: bold 25px verdana;
}
nav ul li {
    display:inline;
	margin-left:40px;
	margin-right:40px;
}
header {
    background-image: url(pisos.jpg);
}
aside {
   display: flex; 
   justify-content: flex-end;
   position: absolute;
   top: 400px; left: 900px;
   margin-top: 10px;
   margin-right: 1px;
   margin-bottom: 1px;
   margin-left: 50px;
  
    


}
footer {
    background-color: #F78478;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px;
    
}
a:link {
    text-decoration:none;
}